@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
$color-logo: rgb(184, 4, 4);
$background-color: rgb(17, 17, 17);
$inside-color: rgb(48, 47, 47);
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

.App {
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
}
input::placeholder {
  color: rgb(168, 168, 168);
  font-size: medium;
}
.userUI {
  display: flex;
  background-color: $background-color;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.header {
  background-color: $background-color;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 2;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  .switch-mode {
    margin-left: 40%;
    width: fit-content;
    display: block;
    text-align: center;
    .logo {
      font-size: 60px;
      color: $color-logo;
    }
  }
  form {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    input {
      border: none;
      width: 80%;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      border: 2px solid $color-logo;
      border-right: none;
      padding-left: 10%;
      color: white;
      margin-bottom: 0px;
      height: 60px;
      background-color: $inside-color;
    }
    span {
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;
      border: 2px solid $color-logo;
      border-left: none;
      width: 20%;
      display: block;
      text-align: center;
      padding-top: 15px;
      color: $color-logo;
      font-size: xx-large;
      background-color: $inside-color;
    }
  }
  .login-user {
    display: flex;
    justify-content: space-around;
    a {
      display: block;
      text-decoration: none;
      width: 130px;
      height: 30px;
      color: white;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      background-color: #92011b;
    }
    a:hover {
      background-color: orangered;
    }
  }
  .button-place {
    background-color: rgb(0, 0, 0, 0);
    border: 0px;
    padding: 0px;
    img {
      display: block;
      width: 60px;
      height: 60px;
    }
  }
}
.navigation {
  float: left;
  height: inherit;
  width: 10%;
  transition: 500ms;
  nav {
    top: 150px;
    left: 3%;
    width: 5%;
    height: 500px;
    position: fixed;
    background-color: $inside-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 3px solid $color-logo;
    border-top: 3px solid $color-logo;
    z-index: 2;
    transition: 500ms;
    box-shadow: none;
    ul {
      padding-left: 20%;
      position: relative;
      height: inherit;
      list-style-type: none;
      margin: 2px 0px;
      display: block;
      background-color: rgb(0, 0, 0, 0);
      li {
        border-top-right-radius: 10px;
        width: 100%;
        display: flex;
        transition: 200ms;
        height: calc(495px / 8);
        align-items: center;
        .text {
          visibility: hidden;
          font-size: x-large;
          color: white;
          padding-left: 13%;
          transition-delay: 200ms;
        }
        .nav {
          font-size: xx-large;
          color: white;
        }
      }
      a {
        text-decoration: none;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        display: block;
        li:hover {
          background-color: rgb(255, 72, 0);
        }
      }
    }
  }
}
.navigation:hover {
  width: 400px;
  nav {
    width: 15%;
    .text {
      visibility: visible;
    }
  }
}
.userBody {
  margin-top: 150px;
  width: 90%;
  .banner {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    height: 500px;
    .container {
      max-width: 10000px;
      width: 100%;
      height: inherit;
      position: relative;
      border: 2px solid $color-logo;
      border-radius: 60px;
      opacity: 1;
      .video {
        display: block;
        color: rgb(0, 0, 0, 0);
        position: absolute;
        left: 75%;
        top: 25%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0px 0px 12px white;
        .circle {
          margin: 0px;
          position: absolute;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          box-shadow: -5px -5px 12px $color-logo;
          animation: spin 2s linear infinite;
        }
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
        .play {
          position: absolute;
          font-size: 70px;
          z-index: 1;
          color: $color-logo;
        }
      }
      img {
        position: absolute;
      }
    }
    .context {
      position: relative;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
      );
      position: relative;
      height: inherit;
      border-radius: inherit;
      transition: 200ms;
      .title {
        position: relative;
        top: 120px;
        width: 25%;
        color: white;
        font-size: 30px;
        font-weight: 900;
        height: 90px;
        line-height: 1.2;
        padding-left: 5%;
        text-align: left;
      }
      .infor {
        position: relative;
        text-align: justify;
        display: -webkit-box;
        top: 150px;
        width: 25%;
        padding-left: 5%;
        height: 120px;
        color: white;
        font-size: medium;
        line-height: 1.2;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button-place {
        position: relative;
        top: 240px;
        text-align: right;
        margin-right: 5%;
        .button {
          visibility: hidden;
          position: relative;
          background-color: rgb(0, 0, 0, 0);
        }
      }
    }
    .context:hover {
      .button {
        visibility: visible;
        position: relative;
        border: none;
        background-color: rgb(0, 0, 0, 0);
        padding: none;
        .button-icon {
          font-size: 40px;
          color: white;
        }
        .button-icon:hover {
          color: orangered;
        }
      }
    }
  }
  .films-container {
    margin-bottom: 20px;
    .title {
      padding-left: 5%;
      color: white;
      font-size: xx-large;
      border-left: 10px solid orangered;
    }
    .films-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(1, 500px);
      margin: 40px 10%;
      .card {
        transition: 0.2s;
        margin: 20px;
        position: relative;
        border-radius: 20px;
        border: 2px solid $color-logo;
        img {
          position: absolute;
        }
        .overload {
          transition: 200ms;
          position: absolute;
          .button {
            visibility: hidden;
            transition: 200ms;
            background-color: rgb(0, 0, 0, 0);
            border: 0px;
            .detail {
              visibility: hidden;
            }
          }
        }

        .content {
          margin-top: 260px;
          .header-name {
            height: 70px;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0)
            );
            position: relative;
          }
          .name {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 130px;
            background-color: rgb(0, 0, 0, 0.7);
            position: relative;
            color: white;
            font-weight: 600;
            font-size: xx-large;
            text-align: center;
          }
        }
      }
      .card:hover {
        transform: scale(1.01);
        box-shadow: 1px 1px 15px white;
        .overload {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          .button {
            margin-top: 180px;
            visibility: visible;
            margin-left: 40%;
            border-radius: 50%;
            .detail {
              visibility: visible;
              font-size: 60px;
              background-color: orangered;
              color: white;
              border-radius: 50%;
            }
            .detail:hover {
              box-shadow: 0px 0px 5px white;
            }
          }
        }
      }
      .card:hover img {
        opacity: 0.5;
      }
    }
  }
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0px;
  height: 200px;
  .footer-content {
    .footer-links {
      margin-right: 30px;
      display: flex;
      justify-content: space-around;
      a {
        margin-top: 20px;
        display: block;
        color: #fff;
        margin-right: 20px;
        font-size: x-large;
      }
    }
  }
}
.details {
  position: relative;
  margin: 0px 150px 150px;
  height: 500px;
  z-index: 1;
  color: white;
  display: flex;
  img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }
  background-color: $inside-color;
  border: 2px solid $color-logo;
  border-radius: 10px;
  .content {
    margin-left: 2%;
    .text {
      margin-top: 20px;
      font-size: 18px;
      margin-right: 10%;
    }
  }
  .open-modal {
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
  }
}
.modal-show {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  .modal {
    overflow: hidden;
    display: block;
    margin: 150px 20%;
    background-color: $inside-color;
    border-radius: 10px;
    border: 1px solid $color-logo;
    height: fit-content;
    .modal-content {
      padding: 0px;
      iframe {
        width: 98%;
        height: 400px;
        margin: 1%;
      }
    }
    .modal-footer {
      padding: 0px;
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom-left-radius: inherit;
      button {
        border: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $inside-color;
      }
      .download:hover {
        background-color: #015801;
      }
      .wishlist:hover {
        background-color: #92011b;
      }
      .exit:hover {
        background-color: #ad0101;
      }
    }
  }
}
.contact {
  h2 {
    margin: 0px;
    color: white;
  }
  form {
    border-radius: 10px;
    padding: 10px 50px 0px 50px;
    border: 2px solid $color-logo;
    margin: 0px 30% 100px 30%;
    height: fit-content;
    background-color: $inside-color;
    input {
      color: white;
    }
    .error {
      color: red;
    }
    label {
      color: white;
    }
    fieldset {
      border: 1px solid white;
    }
    .name {
      display: grid;
      grid-template-columns: 5fr 1fr 5fr;
    }
    div {
      margin-bottom: 5px;
    }
    #demo-simple-select-autowidth {
      padding: 13px 30px 13px 13px;
    }
    #outlined-basic {
      color: white;
    }
  }
}
.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  color: white;
  h2 {
    font-size: 36px;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    margin-top: 30px;
  }

  &-description,
  .mission-description,
  .team-description {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }

  .mission-description,
  .team-description {
    margin-left: 20px;
  }

  .team-description {
    margin-bottom: 0;
  }
}
h2 {
  color: white;
  margin: 0px;
}
.news {
  display: grid;
  margin: 10px 20%;
  grid-template-rows: repeat(5, 300px);
  .card {
    margin-bottom: 30px;
    background-color: $inside-color;
    border-radius: 10px;
    padding: 15px;
    img {
      width: 270px;
      height: 240px;
      border-radius: 10px;
      box-shadow: 0px 0px 5px white;
    }
    .content {
      margin-left: 20px;
      .title {
        height: 50px;
        color: white;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .by {
        color: rgb(207, 206, 206);
        font-size: 15px;
        margin-bottom: 20px;
      }
      .infor {
        color: rgb(207, 206, 206);
      }
    }
  }
}
.MuiPagination-ul {
  button {
    color: white;
  }
}
.admin-ui {
  background-color: rgb(241, 241, 241);
  padding-top: 100px;
  .admin-body {
    margin: 0px 20% 0 20%;
    height: fit-content;
    .showfilm {
      display: grid;
      .card {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        border-radius: 15px;
        background-color: white;
        img {
          object-fit: contain;
          display: block;
          width: calc(192px * 1.3);
          height: calc(108px * 1.3);
          box-shadow: 0px 0px 5px black;
          border-radius: 5px;
        }
        margin: 10px;
        padding: 10px;
        .content {
          padding-left: 10px;
          .title {
            font-size: 25px;
            font-weight: 400;
          }
          .director {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
          }
          .resolution {
            margin-top: 5px;
            align-items: center;
            display: flex;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
      .button {
        display: flex;
        justify-content: flex-end;
        a {
          display: block;
          color: white;
          text-decoration: none;
        }
        button {
          margin-right: 10px;
          width: 50px;
          height: 50px;
          display: block;
          color: white;
          text-decoration: none;
        }
      }
    }
    .add-form {
      display: flex;
      justify-content: space-around;
      form {
        height: fit-content;
        width: 60%;
        padding: 20px;
        border-radius: 15px;
        background-color: white;
        display: grid;
        grid-template-rows: repeat(4, 56px 20px);
      }
      .year-time-type {
        display: grid;
        grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
        grid-template-rows: 56px 20px;
      }
      .director-resolution {
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
      }
    }
  }
  .add {
    z-index: 1101;
    position: fixed;
    left: 90%;
    top: 120px;

    .add-icon {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
      align-items: center;
      display: flex;
      justify-content: space-around;
    }
  }
}
.login-place {
  margin: 150px 35% 200px;
  div {
    width: 100%;
  }
}
.profile {
  display: flex;
  justify-content: space-between;
  .wishlist {
    width: 800px;
    border-radius: 4px;
    h3 {
      border-top: 2px solid $color-logo;
      border-left: 2px solid $color-logo;
      border-right: 2px solid $color-logo;
      border-top-right-radius: inherit;
      background-color: #92011b;
      margin: 0px;
      padding: 10px;
      color: white;
      display: flex;
      span {
        margin-right: 10px;
      }
    }
    .show-favor {
      height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
      display: grid;
      border-left: 2px solid $color-logo;
      border-right: 2px solid $color-logo;
      border-bottom: 2px solid $color-logo;
      .card {
        img {
          position: absolute;
          transition: 0.5s;
          z-index: 0;
        }
        button {
          width: 100%;
          height: 100%;
          padding: 0px;
          border: 0px;
          margin: 0px;
        }
        a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          
        }
        .title {
          color: white;
          position: relative;
          height: 100%;
          align-items: center;
          display: flex;
          font-weight: 700;
          font-size: xx-large;
          padding-left: 20px;
          background-color: rgb(0, 0, 0, 0.4);
        }
      }
      .card:hover img {
        transform: scale(0.9);
        opacity: 0.5;
      }
    }
  }
  margin: 0px 10% 200px 0px;
  h3 {
    background-color: none;
    margin: 0px;
    padding: 10px;
    color: white;
    display: flex;
    span {
      margin-right: 10px;
    }
  }
  
  .view-contact {
    float: right;
    display: grid;
    width: 590px;
    height: 610px;
    overflow-y: scroll;
    overflow-x: hidden;
    .contact-card {
      fieldset {
        border: 0px solid white;
      }
      #outlined-basic {
        color: black;
      }
      margin: 0px 20px 20px;
      width: 550px;
      border-radius: 10px;
      background-color: white;
      padding: 15px;
      .title {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: block;
        color: black;
        height: 40px;
        font-size: 30px;
        font-weight: 700;
        padding-left: 10px;
        align-items: center;
        margin: 0px;
      }
      .content {
        textarea {
          font-size: 20px;
          height: fit-content;
        }
      }
    }
  }
}
.show-admin-contact {
  .contact {
    display: grid;
    .card {
      display: flex;
      background-color: white;
      margin: 20px;
    }
  }
}